extends layout.pug

block content
  h1 Password reset,
  p We received a request to reset your password.
  p Click the button below to choose a new password:
  a.button(href=link) Reset Password
  p This link will expire in 1 hour.