extends layout.pug

block content
  h1 Hello #{name},
  p We received a request to reset your password.
  p Click the button below to choose a new password:
  a.button(href=resetLink) Reset Password
  p This link will expire in 1 hour.